<h1><%= t('.title') %></h1>

<!--Все переводы могут использовать переменные, которые мы передаем в метод t - translate или l - localize.
Первым аргументом мы передаём ключ, по которому хотим найти перевод, вторым мы можем передать какие-то
параметры, такие как scope, default, а так же совершенно любую переменную - она будет принята как переменная
в yml файле.-->
<%= link_to raw(t('users.all', xss: @xss)), users_path %>

<%= link_to raw(t('users.all_html', xss: @xss)), users_path %>

<!--model_name - метод для всех сущностей active_record
human - приводит содержимое в читабельный вид
параметр count по умолчанию передается при работе с active_record-->
<%= User.model_name.human.(count: 2) %>

<!--метод localize принимает в себя ключь, но он также принимает второй параметр, который мы можем юзать
для варианта отображения. Пример с датой: дата.поддерживаемые форматы для данного языка.default/short/long
вариант отображения даты-->
<%= l(Time.now, format: :short) %>